body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 800px;
    width: 800px;
    background-color: antiquewhite;
}

.container{
    display:flex;
    flex-wrap:wrap;
    background-color:antiquewhite;
    height: 169px;
    width: 169px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    justify-content: center;

}

.grid-square{
    margin-right: 1px;
    margin-bottom: 1px;
    padding : 0px;
    border: 0px;
    height: 16px;
    width: 16px;
    background-color:cyan;
    
}

.grid-square:hover{
    margin-right: 2px;
    padding : 0px;
    border: 0px;
    height: 16px;
    width: 16px;
    background-color:cornflowerblue;
    
}
